@charset "UTF-8";
body
.homepage {
  background: -webkit-gradient(linear, left top, left bottom, from(#1260fe), to(#9635a6));
  background: linear-gradient(#1260fe, #9635a6);
  height: 100vh;
}

.mytitle {
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  border-left: none;
  border-right: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
}

.mytitle h1 {
  background: linear-gradient(20deg, #0f118a, #651b74);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  margin: 10px 0;
}

.block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-pourcent {
  margin-right: 50px;
  padding: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #092b8c;
  opacity: .9;
  border-radius: 10px;
  width: 120px;
}

.subtitle h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 10px;
  color: white;
}

.block-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-value .value {
  color: blueviolet;
  text-transform: uppercase;
  font-weight: bold;
}

.block-value .pourcent {
  color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-value .pourcent::before {
  content: "▲";
  margin-right: 10px;
}

.block-middle {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px auto 0;
}

.block-middle .collections {
  background: #282a8e;
  border-radius: 10px;
  padding: 10px 25px 25px;
  margin-left: 50px;
  height: 450px;
  width: 20%;
}

.block-middle .onglets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-middle .onglets.-graph .-trading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-middle .onglets.-graph .devise .collection {
  width: 25px;
}

.block-middle .onglets .onglet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background: #1c3b8e;
  border-radius: 50px;
  margin-left: 20px;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-middle .onglets .onglet .collection {
  margin-right: 10px;
  border-radius: 50px;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
}

.block-middle .onglets .onglet .collection.active {
  background: #002073;
  padding: 10px 15px;
}

.block-middle .onglets .onglet a {
  color: #77a6f4;
  text-decoration: none;
}

.block-middle .collection-list {
  list-style: decimal;
  padding: 10px;
  color: #77a6f4;
}

.block-middle .collection-list .elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #1c3b8e;
}

.block-middle .graph {
  width: 60%;
  margin-left: 30px;
  padding: 10px 20px 20px;
  border-radius: 10px;
  background: #282a8e;
}

.block-middle .trade {
  width: 20%;
  margin-left: 30px;
  padding: 10px 20px 20px;
  border-radius: 10px;
  background: #282a8e;
}
/*# sourceMappingURL=style.css.map */